# This file is part of Dictdiffer.
#
# Copyright (C) 2013 Fatih Erikli.
# Copyright (C) 2014, 2016 CERN.
#
# Dictdiffer is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more
# details.

.eggs/
*.egg
*.egg-info
*.pyc
.DS_Store
.cache
.coverage
.tox
build/
dist/
docs/_build
docs/db
docs/static
htmlcov
