# SPDX-FileCopyrightText: 2014, 2016 CERN.
# SPDX-License-Identifier: MIT

exclude .git-blame-ignore-revs
include README.rst CHANGES CONTRIBUTING.rst AUTHORS LICENSE MANIFEST.in
include RELEASE-NOTES.rst
include .coveragerc pytest.ini
include .lgtm MAINTAINERS
include docs/*.rst docs/*.py docs/Makefile docs/requirements.txt
include *.py *.sh
include tox.ini tests/*.py
recursive-include .github/workflows *.yml
