# This file is part of Dictdiffer.
#
# Copyright (C) 2014 CERN.
#
# Dictdiffer is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more
# details.

include README.rst CHANGES CONTRIBUTING.rst AUTHORS LICENSE MANIFEST.in
include RELEASE-NOTES.rst
include .coveragerc pytest.ini
include docs/*.rst docs/*.py docs/Makefile
include *.py *.sh
include tox.ini tests/*.py
